.category {
  .category-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding-block: 1.5em;
    padding-inline: 2em;
 
  }

  img {
    max-width: 100%;
    border-radius: 8px;
  }

  .price {
    margin-top: 10px;
  }

  .rating {
    margin-top: 5px;
  }
}

@media (max-width: 768px) {
  .category-container {
    flex-direction: column;

    .filter-toggle-btn {
      display: block;
      margin-top: 20px;
    }
  }

  .filter-menu {
    width: 100%;
    margin-bottom: 20px;
  }

  .clothing-items {
    width: 100%;
  }
}
