.product-container {
  display: flex;

  gap: 20px;
  .clothing-items {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 10px;

    .clothing-item {
      flex: 1 1 calc(50% - 10px);
      text-align: center;
      padding: 8px;
      border-radius: 4px;
      transition: all 0.3s ease;
      cursor: pointer;

      img {
        max-width: 100%;
        height: auto;
        border-radius: 4px;
        object-fit: cover;
        max-height: 220px;
      }

      h3 {
        font-size: 1em;
        margin: 0.5em 0;
      }

      p {
        color: #555;
        font-size: 0.9em;
      }
    }
  }

  @media (min-width: 768px) {
    .clothing-items .clothing-item {
      flex: 1 1 calc(30% - 10px);
      padding: 8px;

      img {
        max-height: 300px;
      }
    }
  }

  @media (min-width: 1200px) and (max-width: 1920px) {
    .clothing-items {
      gap: 10px;
    }

    .clothing-items .clothing-item {
      flex: 1 1 calc(30% - 5px);
      padding: 6px;

      img {
        max-height: 400px;
      }
    }
  }

  @media (min-width: 1919px) {
    .clothing-items {
      gap: 7px;
    }

    .clothing-items {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      padding: 10px;
      background: red;
      width: 100%;
      .clothing-item {
        border-radius: 2em;
        

        img {
          max-height: 550px;
          width: 100%;
        }
      }
    }
  }
}
